body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('https://usd-exchang-e.vercel.app/image.png') no-repeat center center fixed; /* Ruta de tu imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    color: #fff; /* Color de texto blanco para mejor contraste */
}

body .oculto {
    display: none;
}
.verde {
    color: green;
}



.btn-retirar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #EA170A;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
}


.card {
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro y transparente */
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.card h2 {
    margin-top: 0;
}




.banner {
    width: 100%;
    overflow: hidden;
    background-color: #1b1b1b;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
}

.ticker-wrapper {
    display: flex;
    white-space: nowrap;
    animation: ticker 20s linear infinite;
}

.crypto-container {
    display: flex;
}

.crypto {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    padding: 0 10px;
    border-right: 1px solid #333;
}

.crypto:last-child {
    border-right: none;
}

.crypto div {
    margin: 0 5px;
}

.crypto .name {
    color: #ffc107; /* Color dorado para los nombres */
    font-weight: bold;
    font-size: 1.1em;
}

.crypto .price {
    color: #00ff00; /* Color verde para los precios */
    font-size: 1.1em;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.chart-card {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y semitransparente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #fff; /* Color de texto blanco para mejor contraste */
}

.tradingview-widget-container {
    width: 100%;
}

.tradingview-widget-container iframe {
    width: 100% !important;
    height: 300px !important; /* Ajusta la altura del gráfico */
}

@media (max-width: 768px) {
    .chart-card {
        width: 100%;
        margin: 20px auto;
    }
    .tradingview-widget-container iframe {
        height: 250px !important; /* Reduce la altura para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .chart-card {
        width: 100%;
        margin: 10px auto;
    }
    .tradingview-widget-container iframe {
        height: 200px !important; /* Reduce aún más la altura para pantallas muy pequeñas */
    }
}

.btn-retirar:hover {
    background-color: #0056b3;
}




.titulo {
      font-family: 'Arial', sans-serif;
      font-size: 48px;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 20px;
    }

    .titulo .mayusculas {
      color: #FFD700;
    }

    .titulo .minusculas {
      color: #00FFFF;
    }

    .titulo:hover .mayusculas,
    .titulo:hover .minusculas {
      text-shadow: 0 0 10px #FFD700, 0 0 10px #00FFFF;
    }

.boton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 10px;
}

.boton:hover {
    background-color: #0056b3;
}

.oculto {
    display: none;
}


.menu-desplegable {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black; 
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    margin: 0;
    z-index: 999;
}



.opcion-menu {
    cursor: pointer;
    margin: 5px 0;
}
  


.saldo-container span {
    margin-left: 5px;
}

.mensaje-error {
    color: #ff6262;
    margin-top: 10px;
}

.activo {
  background-color: green;
  color: white;
}


.inactivo {
    background-color: #dc3545;
}
#saldoETH {
    font-size: 86px; 
    text-align: center; 
    margin-top: 30px; 
    font-weight: bold; 
    color: #fff; 
}
.activo .estado-indicador {
    background-color: #00cc00; 
}

.inactivo .estado-indicador {
    background-color: #ff3333; 
}

@keyframes titilar {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}


span {
    color: #ffcc00;
}
        .mensaje-error {
    color: #ff3333; 
    margin-top: 10px;
}
.estado-indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; 
    animation: titilar 1s infinite alternate; 
}
 .boton-tareas {
            background-color: #4CAF50; /* Color de fondo */
            border: none;
            color: white;
            padding: 10px 20px; /* Tamaño más pequeño */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px; /* Tamaño de texto más pequeño */
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 15px; /* Bordes más redondeados */
            transition: background-color 0.3s ease;
        }
        .boton-tareas:hover {
            background-color: #45a049; /* Color de fondo al pasar el mouse */
        }


