 body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body .oculto {
    display: none;
}
.verde {
    color: green;
}

.btn-retirar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #EA170A;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
}
.banner {
            background-color: #f8f9fa;
            padding: 10px 0;
            width: 100%;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
        }
        .ticker-wrapper {
            display: flex;
            animation: ticker 10s linear infinite;
        }
        @keyframes ticker {
            0% { transform: translateX(100%); }
            100% { transform: translateX(-100%); }
        }
        .crypto {
            display: inline-block;
            padding: 0 10px;
            font-size: 16px;
            color: #333;
        }
        .chart-container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .tradingview-widget-container {
            width: 30%; /* Ajusta el ancho del gráfico al 30% del contenedor */
            min-width: 300px; /* Establece un ancho mínimo para el gráfico */
        }
        .tradingview-widget-container iframe {
            width: 100% !important;
        }
.btn-retirar:hover {
    background-color: #0056b3;
}




.titulo {
      font-family: 'Arial', sans-serif;
      font-size: 48px;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 20px;
    }

    .titulo .mayusculas {
      color: #FFD700;
    }

    .titulo .minusculas {
      color: #00FFFF;
    }

    .titulo:hover .mayusculas,
    .titulo:hover .minusculas {
      text-shadow: 0 0 10px #FFD700, 0 0 10px #00FFFF;
    }

.boton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 10px;
}

.boton:hover {
    background-color: #0056b3;
}

.oculto {
    display: none;
}


.menu-desplegable {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black; 
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    margin: 0;
    z-index: 999;
}



.opcion-menu {
    cursor: pointer;
    margin: 5px 0;
}
  


.saldo-container span {
    margin-left: 5px;
}

.mensaje-error {
    color: #ff6262;
    margin-top: 10px;
}

.activo {
  background-color: green;
  color: white;
}


.inactivo {
    background-color: #dc3545;
}
#saldoETH {
    font-size: 86px; 
    text-align: center; 
    margin-top: 30px; 
    font-weight: bold; 
    color: #fff; 
}
.activo .estado-indicador {
    background-color: #00cc00; 
}

.inactivo .estado-indicador {
    background-color: #ff3333; 
}

@keyframes titilar {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}


span {
    color: #ffcc00;
}
        .mensaje-error {
    color: #ff3333; 
    margin-top: 10px;
}
.estado-indicador {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; 
    animation: titilar 1s infinite alternate; 
}
 .boton-tareas {
            background-color: #4CAF50; /* Color de fondo */
            border: none;
            color: white;
            padding: 10px 20px; /* Tamaño más pequeño */
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px; /* Tamaño de texto más pequeño */
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 15px; /* Bordes más redondeados */
            transition: background-color 0.3s ease;
        }
        .boton-tareas:hover {
            background-color: #45a049; /* Color de fondo al pasar el mouse */
        }

