body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body .oculto {
    display: none;
}


.container {
    text-align: center;
    margin: 50px auto;
}

.titulo {
    font-size: 36px;
    margin-bottom: 20px;
}

.boton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.boton:hover {
    background-color: #0056b3;
}

.oculto {
    display: none;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menu-desplegable {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
}

.opcion-menu {
    cursor: pointer;
    margin: 5px 0;
}

.saldo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.saldo-container span {
    margin-left: 5px;
}

.mensaje-error {
    color: #ff6262;
    margin-top: 10px;
}

.activo {
  background-color: green;
  color: white;
}


.inactivo {
    background-color: #dc3545;
}
#saldoETH {
    font-size: 36px; 
    text-align: center; 
    margin-top: 20px; 
    font-weight: bold; 
    color: #fff; 
}
.estado-indicador.activo {
    color: green; 

.estado-indicador.inactivo {
    color: red; 
}

